.span {
    display: inline-block;
    margin: 20px 0 20px 20px;
    font-size: 1.5em;
    color: #0896f3;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
}

.hw6 {
    margin-left: 10px;
}

.hw6 button {
    display: inline-block;
    width: 70px;
    height: 25px;
    background: #0896f3;
    font-size: 0.7em;
    margin: 5px 10px 20px 20px;
    cursor: pointer;
}