.message {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "avatar text";
    width: 400px;
    height: 200px;
    margin: 20px;
}

.avatar {
    grid-area: avatar;
}
.textMessage {
    grid-area: text;
    background: darkolivegreen;
    padding: 1em 1.5em;
    border-radius: 10px 10px 10px 0px;
    position: relative;

}
.avatar img {
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 40px;
}

.tooltiptail {
    position: absolute;
    left: -47px;
    bottom: -3px;
    width: 1px;
    height: 1px;
    border-radius: 25px;
    border-color: lightgrey;
    background-color: white;
    border-style: solid;
    border-width: 23px;

}

.tooltiptail1 {
    position: absolute;
    left: -35px;
    bottom: 0;
    border-color: transparent transparent darkolivegreen transparent;
    border-style: solid;
    border-width: 30px;
    width: 0;
    height: 0;
}

.name {
    font-size: x-large;
    color: lightgreen;
    padding-bottom: 5px;
}

.time {
    font-size: x-large;
    text-align: right;
    color: lightgreen;
    padding: 10px 0;
}


