.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox {
appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: whitesmoke;
}
.checkbox:focus {
    outline: 1px solid gray;
}
.checkbox:checked {
    appearance: none;
    background: #9999ff;

}
.spanClassName {

}